html, body, div, span, object, iframe, blockquote, pre, a, code, del, em, font, img, small,
strike, strong, dl, dt, dd{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}

body {
	margin:0;
}
blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
content: ‘’;
content: none;
}

img {
	display:block;
}
